<div style="text-align:center">
  <h1>
    Welcome to {{ title + '!' }}
  </h1>
  <div class="container">

    <div class="row">
      <div class="column">
        <input type="text" [value]="title" #myInput (input)="updateTitle(myInput.value)">
      </div>
      <div class="column">
        <input type="text" [value]="title" (input)="updateTitle($event.target.value)">
      </div>
      <div class="column">
        <input type="text" [ngModel]="title" (ngModelChange)="updateTitle($event)">
      </div>
      <div class="column">
        <input type="text" [(ngModel)]="title">
      </div>
      <div class="column">
        <input [type]="myType" placeholder="Type number here" (blur)="changeType($event.target.value)">
      </div>
    </div>
  </div>

  <div class="container">

    <ng-template [ngIf]="title.length > 3">
      <div>
        Showing results
      </div>
    </ng-template>

    <div *ngIf="title.length > 3">
      Showing results
    </div>
  </div>

  <div class="container">
    <div class="row" *ngFor="let train of trains">
      <div class="column" [ngClass]="{ red: train.confirmed }">
        {{ train.id }}
      </div>
      <div class="column" [class.red]="train.confirmed">
        {{ train.origin | uppercase }}
      </div>
      <div class="column" [ngStyle]="{backgroundColor: train.confirmed ? '#d65151' : '#FFFFFF'}">
        {{ train.destination }}
      </div>
      <div class="column">
        {{ train.timeOfDeparture | date: 'HH:mm dMMMy' }}
      </div>
      <div class="column">
        {{ train.wagons?.length || 0 }}
      </div>
    </div>
  </div>
</div>
